@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --clr-primary: #54b689;
}

.section-container {
    @apply mx-auto py-12 2xl:max-w-[1110px] xl:max-w-[1000px] lg:max-w-[780px] lg:px-0 sm:px-8 px-4;
}


.section-bottom__border {
    @apply bg-[#fafafa] dark:bg-transparent dark:border dark:border-[hsla(0,0%,100%,.05)];
}

@layer components {

    .nav {
        --active-link-clr: #54b689;
    }

    .menu-content {
        display: grid;
        transition: grid-template-rows 500ms;
        @apply lg:grid-rows-1 grid-rows-[0fr];
    }

    .menu-open {
        @apply grid-rows-[1fr];
    }


    .menu-sidebar {
        --thumb-clr: "#43926e";
        @apply dark:bg-secondGray
        overflow-hidden
        bg-primary
        lg:fixed
        w-full
        lg:w-[280px]
        py-6
        px-5
        lg:min-h-screen
        lg:overflow-y-scroll
        lg:max-h-full;
    }

    .nav-links__item {
        @apply text-grayLight dark:hover:text-white hover:text-[rgba(0,0,0,0.6)] flex items-center;
    }

    .hire__link {
        @apply dark:hover:!bg-primaryHover dark:!bg-primary !text-white text-base text-center rounded font-bold py-2;
    }

    .router-link-active {
        color: var(--active-link-clr);
        transition: all 250ms;
    }

    .menu-sidebar::-webkit-scrollbar {
        width: 6px;
    }

    .menu-sidebar::-webkit-scrollbar-track {
        background: transparent;
    }

    .menu-sidebar::-webkit-scrollbar-thumb {
        background: var(--thumb-clr);
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--clr-primary);
    }

    #nav-icon4 {
        width: 45px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon4 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    #nav-icon4 {
    }

    #nav-icon4 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(2) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(3) {
        top: 28px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
        left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
    }


    .logo-container {
        @apply w-full transition-all duration-1000 h-screen fixed top-0 left-0 flex justify-center items-center bg-black;
    }

    .logo-hidden {
        @apply opacity-0 invisible;
    }

    .logo-hidden #logo path{
        @apply animate-none;
    }

}
